:root {
  --body-bg: #ffff;
  --main-bg: #7a5cff;
  --section-bg: #f6f7fb;
  --footer-color: #2c2f5b;
  --title-color: #1c1c3a;
  --star-color: #ffd54f;
  --button-color: #6a5cff;
  
}



/* progress */
.section{
padding:30px;
}

.progress{
height:14px;
border-radius:8px;
}

.progress-bar{
background:linear-gradient(90deg,#5f63ff,#7a49ff);
}

/* continue card */
.lesson-card{
border:1px solid #e6e6f5;
border-radius:10px;
padding:20px;
box-shadow:0 4px 15px rgba(0,0,0,0.05);
}

.lesson-btn{
background:linear-gradient(90deg,#4c5bd4,#8a3fff);
color:white;
border:none;
padding:10px 40px;
border-radius:6px;
}

/* subjects */
.subject-btn{
border:2px solid #6a5cff;
color:#6a5cff;
background:white;
font-weight:600;
border-radius:6px;
padding:10px 0;
transition: all 0.3s;
}

.subject-btn:hover{
background:linear-gradient(90deg,#6a5cff,#7a5cff);
color:white;
transform:translateY(-2px);
}

/* ask box */


.ask-box{
border:1px solid #dcdcf2;
padding:10px 15px;
border-radius:6px;
display:flex;
align-items:center;
justify-content:space-between;
}

.chat-icon{
color:rgb(122, 92, 255);
font-size:20px;
margin-left:10px;
}